<div class="row">
	<div class="col-md-3">
		<div class="center">
			<% if current_user.avatar.attached? %>
              <image src="<%=(url_for(current_user.avatar))%>", class="avatar_full">
            <% elsif current_user.image %>
              <image src="<%= current_user.image%>", class="avatar_full">
            <% end %>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Verification</div>
			<div class="panel-body">
				Email Address<br/>
				Phone Number<br/>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<h2><%= @user.fullname %></h2>
		<div class="description row-space-3">
			<%= @user.description %>
		</div>
	</div>
</div>